<div data-role="view" data-title="Pictures" data-layout="main" 
     data-show="app.viewmodels.takePicture.init" >
    <div data-role="tabstrip">
        <button data-role="button" data-bind="events: {click: addImage}" class="buttonHome" style="color:rgb(92, 82, 105);border=initial" data-icon="camera">Take Photo</button>
        <button data-role="button" data-bind="events: {click: getImage}" class="buttonHome" style="color:rgb(92, 82, 105);border=initial" data-icon="add">Choose from galery</button>
    </div>
    <img id="myImage" style="width: 100%;"/>
    
    <img id="sendEmailButton" class="center buttonEmail" data-bind=""/>
</div>